@font-face {
  font-family: Avenir-Medium;
  src: url("../assets/fonts/Avenir-Medium.otf"); }
@font-face {
  font-family: Cocogoose;
  src: url("../assets/fonts/Cocogoose.ttf"); }
@font-face {
  font-family: CocoGothicHeavy;
  src: url("../assets/fonts/CocoGothicHeavy.ttf"); }
@font-face {
  font-family: BebasKai;
  src: url("../assets/fonts/BebasKai.ttf"); }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  font-size: 16px;
  font-family: 'Avenir-Medium'; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Avenir-Medium;
  src: url("../assets/fonts/Avenir-Medium.otf"); }
@font-face {
  font-family: Cocogoose;
  src: url("../assets/fonts/Cocogoose.ttf"); }
@font-face {
  font-family: CocoGothicHeavy;
  src: url("../assets/fonts/CocoGothicHeavy.ttf"); }
@font-face {
  font-family: BebasKai;
  src: url("../assets/fonts/BebasKai.ttf"); }
body {
  background-image: url("../assets/fondo.jpg");
  background-color: #131313;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-fit: cover; }
  @media only screen and (min-width: 992px) {
    body {
      background-position: center center;
      max-width: 600px;
      margin: 0 auto; } }

.container {
  display: grid;
  grid-template-rows: auto; }
  .container .menu {
    display: flex;
    flex-direction: column; }
    .container .menu .header {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.25rem; }
      .container .menu .header .icon-left,
      .container .menu .header .icon-rigth {
        display: flex;
        align-items: center; }
      .container .menu .header .title {
        text-transform: uppercase;
        font-size: 1.625rem;
        font-weight: 700;
        font-family: Cocogoose; }
    .container .menu .content_info {
      padding: 1.25rem;
      padding-top: 0.313rem;
      overflow: auto;
      margin: auto; }
      .container .menu .content_info .item {
        border-bottom-width: 2px;
        border-color: #cac7c525;
        border-style: solid;
        margin-bottom: 1rem;
        padding-bottom: 1rem; }
        .container .menu .content_info .item.border-none {
          border: none; }
        .container .menu .content_info .item.mode-one {
          display: grid;
          grid-template-columns: 1fr 2fr; }
        .container .menu .content_info .item.mode-two {
          display: grid;
          grid-template-columns: 2fr 1fr; }
        .container .menu .content_info .item.mode-three {
          display: flex;
          flex-direction: column; }
        .container .menu .content_info .item .content_image {
          width: 130px;
          height: 102px; }
          .container .menu .content_info .item .content_image img {
            width: 100%;
            height: 100%; }
        .container .menu .content_info .item .description {
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 1.25rem; }
          .container .menu .content_info .item .description.mb-30 {
            margin-bottom: 1.875rem;
            margin-left: 0.313rem; }
          .container .menu .content_info .item .description .title {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            font-family: Cocogoose; }
            .container .menu .content_info .item .description .title .price {
              color: #fd8924;
              font-family: 'CocoGothicHeavy';
              font-weight: bold;
              margin-left: 2px; }
          .container .menu .content_info .item .description .info {
            margin-top: 0.5rem;
            font-size: 0.75rem;
            font-weight: normal;
            line-height: 0.938rem; }
      .container .menu .content_info .salsas {
        margin-top: 2rem;
        border-top-width: 0.125rem;
        border-color: #fd8924;
        border-style: solid; }
        .container .menu .content_info .salsas h1 {
          font-size: 1.5rem;
          text-transform: uppercase;
          color: #fd8924;
          font-family: Cocogoose;
          text-align: center;
          margin-top: 1rem; }
        .container .menu .content_info .salsas .content-salsas {
          margin-top: 1rem;
          color: white;
          text-transform: uppercase;
          font-size: 1rem;
          font-family: Cocogoose;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1.25rem; }
          .container .menu .content_info .salsas .content-salsas .col-1 .salsa,
          .container .menu .content_info .salsas .content-salsas .col-2 .salsa {
            margin: 0.313rem;
            margin-bottom: 2rem; }
        .container .menu .content_info .salsas .nota {
          margin-top: 1rem;
          color: white;
          font-size: 0.688rem; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px; }
  .footer .poweredBy {
    margin-top: 5px; }
    .footer .poweredBy a {
      color: white;
      font-size: 14px;
      text-decoration: none; }

/*# sourceMappingURL=products.css.map */
