@font-face {
font-family: Avenir-Medium;
src: url('../assets/fonts/Avenir-Medium.otf');
}

@font-face {
font-family: Cocogoose;
src: url('../assets/fonts/Cocogoose.ttf');
}

@font-face {
font-family: CocoGothicHeavy;
src: url('../assets/fonts/CocoGothicHeavy.ttf');
}

@font-face {
font-family: BebasKai;
src: url('../assets/fonts/BebasKai.ttf');
}