@import 'reset.scss';
@import 'mediaQuerys.scss';
@import 'fonts.scss';

.container {
  background-image: url('../assets/fondo.jpg');
  background-color: #131313;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 25vh auto 10vh;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subtitle {
      color: white;
      font-size: 0.688rem;
    }
  }
  .main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .options {
      padding-top: 1.25rem;
      padding-right: 3.438rem;
      padding-bottom: 0;
      padding-left: 3.438rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      .option {
        width: 100%;
        height: 100%;
        max-width: 7.311rem;
        max-height: 8.143rem;
        background-image: url(../assets/boton.png);
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
        text-decoration: none;
        .option_title {
          color: black;
          text-transform: uppercase;
          font-family: 'BebasKai';
          font-size: 1.313rem;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    .poweredBy {
      margin-top: 5px;
      a {
        color: white;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
  @include desktop {
    background-position: center center;
    max-width: 600px;
    margin: 0 auto;
  }
}
